DRIVER_DOMAIN_POLICY_SCHEMA=4
DOMAIN_ID=linux-dvm-storage0
QEMU_SHA256=REPLACE_WITH_64_HEX_SHA256
INPUT_TRANSPORT=disabled
NETWORK_TRANSPORT=disabled
BLOCK_TRANSPORT=block-ring-msix
DISPLAY_TRANSPORT=disabled
STORAGE_DRIVER=nvme
STORAGE_PCI_VENDOR=REPLACE_WITH_4_HEX_VENDOR
STORAGE_PCI_DEVICE=REPLACE_WITH_4_HEX_DEVICE
STORAGE_EPOCH_VERIFYING_KEY_SHA256=REPLACE_WITH_64_HEX_SHA256
STORAGE_REQUIRED_FEATURES=flush
STORAGE_QUEUE_DEPTH=64
STORAGE_DATA_SLOT_BYTES=65536
STORAGE_HANDOFF_TIMEOUT_MS=5000
STORAGE_RESET_TIMEOUT_MS=5000
